{% extends "template_logged.njk" %}

{% block title %}
  Expenses
{% endblock %}

{% block content %}
  <ul>
    {% for element in test %}
      <li>
        <h6>{{element.date}} - {{element.name_transaction}}</h6>
        <b>Montant :</b> {{element.sum}} €<br>
        <b>Payé par :</b> {{element.nom_user}}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block cascadeTitle %}
  {{user.username}}
{% endblock %}
