{% extends "template_logged.njk" %}

{% block title %}
  HomePage
{% endblock %}

{% block content %}
  <h1> Hello {{user.username}} </h1>
    <p>Voici la liste de tes activités en cours :</p>
    <a href="/addactivity">Add new activity</a>
    <ul class="list-unstyled">
      {% for activity in activities %}
        <li onclick="location.href='/activity/{{activity.num_activity}}/expenses'">
            <h6>{{activity.date}} - {{activity.name_activity}}</h6>
            <p>Montant : {{activity.tot}} €</p>
        </li>
      {% endfor %}
    </ul>
{% endblock %}

{% block cascadeTitle %}
  {{user.username}}
{% endblock %}
