<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../styles/styles.css">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="../pictures/fav.png" />
</head>
<body>
  <div id="container_HP">
  <img src="../pictures/test.png" width="150"/>
  <h1 class="white text-center mt-3">SHAREPAY<br></h1>
  <p class="white text-center">The solution you need to share expenses with your friends</p>
<button type="button" class="btn btn-primary" href="register.html">Create an account</button>
<button type="button" class="ml-2 btn btn-outline-white">Login</button>
</div>

</body>
</html>
