{% extends "template_logged.njk" %}

{% block title %}
  HomePage
{% endblock %}

{% block content %}
  <h1> coucou {{user.email}} </h1>
    <p>Voici la liste de tes activités en cours :</p>
    <ul>
      {% for activity in activities %}
        <li><a href="/activity/{{activity.num_activity}}/expenses">{{activity.name_activity}}</a></li>
      {% endfor %}
    </ul>
{% endblock %}

{% block cascadeTitle %}
  {{user.username}}
{% endblock %}
