<form action="/register" method="post">
  <div>
    <label>Email:</label>
    <input type="text" name="username"/><br/>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password"/>
  </div>
  <div>
    <button type="submit">
      Submit
    </button>
  </div>
</form>
