


<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../styles/styles.css">
  <title>Register</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="pictures/fav.png" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
  <div id="container_HP_register">

    <h1 class="white text-center">Create an account<br></h1>
    <p class="white text-center">Let's take 10 seconds to create your account ;)</p>
    <h3 class="secondary bg-primary text-center">{{error}}</h3>


    <div class="container mt-5 text-left">
      <div class="row">
        <div class="col-8 offset-2 col-sm-4 offset-sm-2 pt-0 pb-5" id="test_media_query">
          <h2 class="mt-5 white">Classic account</h2>
          <form action="/register" method="post">

            <div class="form-group">
              <label for="email" class="white">Email</label>
              <input type="text" name="username" id="email" autofocus class="form-control" placeholder="">
            </div>

            <div class="form-group">
              <label for="password" class="white">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="">
            </div>



            <button type="submit" class="btn btn-primary mt-4">Create my account</button>
          </div>
        </form>


        <div class="col-8 offset-2 col-sm-4 offset-sm-2 offset-md-0" id="fb_container">
          <h2 class="mt-5 white">Register with Facebook</h2>


          <button type="button" class="btn btn-primary mt-4"><i class="fab fa-facebook-f"></i> Signup via Facebook</button>



        </div>
      </form>
    </div>

  </div>





</div>



</body>
</html>
